<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucdenver.aprad"
    android:versionCode="1"
    android:versionName="1.0" >

    <instrumentation android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="edu.ucdenver.aprad"
    android:label="APRAD Tests" />
    
    
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />
    
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="android.test.runner" />
        
        <activity
            android:name="edu.ucdenver.aprad.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="edu.ucdenver.aprad.Aprad"></activity>
        
        <activity android:name="edu.ucdenver.aprad.spectrum_analyzer.SpectrumAnalyzer"
                  android:screenOrientation="landscape" 
                  android:configChanges="orientation|keyboardHidden" ></activity>
        
        <activity android:name="edu.ucdenver.aprad.spectrogram.Spectrogram" 
                  android:screenOrientation="landscape" 
                  android:configChanges="orientation|keyboardHidden" ></activity>
        
        <activity android:name="edu.ucdenver.aprad.education.Education"></activity>
        <activity android:name="edu.ucdenver.aprad.education.RawSignal"></activity>
        <!-- This was a bitch to figure out. for some reason, Android Studio didn't automatically add this activity like it did for the rest.-->
        <activity android:name="edu.ucdenver.aprad.education.SynthesizeWaveData"></activity>
        <!-- This was a bitch to figure out. for some reason, Android Studio didn't automatically add this activity like it did for the rest.-->
        <activity android:name="edu.ucdenver.aprad.education.SynthesizeWaveDataView"></activity>
        <!-- This was a bitch to figure out. for some reason, Android Studio didn't automatically add this activity like it did for the rest.-->
        <activity android:name="edu.ucdenver.aprad.education.FileChooser"></activity>
        <!-- This was a bitch to figure out. for some reason, Android Studio didn't automatically add this activity like it did for the rest.-->


        <activity android:name="edu.ucdenver.aprad.info.Help"></activity>
        
        <activity android:name="edu.ucdenver.aprad.info.About"></activity>
        
        <activity android:name="edu.ucdenver.aprad.Preferences"></activity>
        
        <activity android:name="edu.ucdenver.aprad.OpenSavedData"></activity>
    </application>

</manifest>
